/*
    Colors
*/
:root {
    /* Game Colors */
    --pz: 24, 185, 129;
    --jwe: 255, 197, 72;
    --planco: 0, 159, 233;

    /* Brand Colors */
    --discord: 88, 101, 242;
    --trello: 0, 121, 191;
    /* Colorize White SVG */
    --discord-filter-white: invert(47%) sepia(48%) saturate(9961%) hue-rotate(228deg) brightness(150%) contrast(91%);
    --trello-filter-white: invert(34%) sepia(52%) saturate(3335%) hue-rotate(181deg) brightness(100%) contrast(101%);

    /* Download Button */
    --download: 94, 156, 70;
    --download-lighter: 138, 183, 120;
    --download-hover: 49, 172, 0;
    /* Colorize White SVG */
    --download-filter-white: invert(52%) sepia(24%) saturate(1924%) hue-rotate(59deg) brightness(200%) contrast(89%);

    /* Custom Admonition Colors */
    --faq: 43, 155, 70;
    --construction: 220, 158, 0;
}

/*
    Layout

*/

.no-wrap {
    white-space: nowrap;
}

/*
    Task Lists
*/

:root {
    --md-tasklist-icon: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M400 32H48C21.5 32 0 53.5 0 80v352c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48V80c0-26.5-21.5-48-48-48zm-6 400H54c-3.3 0-6-2.7-6-6V86c0-3.3 2.7-6 6-6h340c3.3 0 6 2.7 6 6v340c0 3.3-2.7 6-6 6z"/></svg>');
    --md-tasklist-icon-x: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12 2c5.53 0 10 4.47 10 10s-4.47 10-10 10S2 17.53 2 12 6.47 2 12 2m3.59 5L12 10.59 8.41 7 7 8.41 10.59 12 7 15.59 8.41 17 12 13.41 15.59 17 17 15.59 13.41 12 17 8.41 15.59 7Z"/></svg>');
    --md-tasklist-icon--checked: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12 2C6.5 2 2 6.5 2 12s4.5 10 10 10 10-4.5 10-10S17.5 2 12 2m-2 15-5-5 1.41-1.41L10 14.17l7.59-7.59L19 8l-9 9Z"/></svg>');
    --md-tasklist-icon--checked-square: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M400 480H48c-26.51 0-48-21.49-48-48V80c0-26.51 21.49-48 48-48h352c26.51 0 48 21.49 48 48v352c0 26.51-21.49 48-48 48zm-204.686-98.059l184-184c6.248-6.248 6.248-16.379 0-22.627l-22.627-22.627c-6.248-6.248-16.379-6.249-22.628 0L184 302.745l-70.059-70.059c-6.248-6.248-16.379-6.248-22.628 0l-22.627 22.627c-6.248 6.248-6.248 16.379 0 22.627l104 104c6.249 6.25 16.379 6.25 22.628.001z"/></svg>');
}

/*
    Non-Interactable X checkbox for DO/DO NOT usage
*/
.md-typeset .task-list-indicator:before {
    background-color: #e63600;
    content: "";
    height: 1.25em;
    -webkit-mask-image: var(--md-tasklist-icon-x);
    mask-image: var(--md-tasklist-icon-x);
    -webkit-mask-position: center;
    mask-position: center;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: contain;
    mask-size: contain;
    position: absolute;
    top: .15em;
    width: 1.25em;
}

.md-typeset [type=checkbox]:checked+.task-list-indicator:before {
    background-color: #00e676;
    -webkit-mask-image: var(--md-tasklist-icon--checked);
    mask-image: var(--md-tasklist-icon--checked);
}

.md-typeset .task-list-item {
    pointer-events: none;
}

/*
    Interactive Checkbox
*/
.md-typeset .interactive-check .task-list-indicator:before {
    background-color: #8d8d8d;
    -webkit-mask-image: var(--md-tasklist-icon);
    mask-image: var(--md-tasklist-icon);
}

.md-typeset .interactive-check [type=checkbox]:checked+.task-list-indicator:before {
    background-color: #00e676;
    -webkit-mask-image: var(--md-tasklist-icon--checked-square);
    mask-image: var(--md-tasklist-icon--checked-square);
}

.md-typeset .task-list-item.interactive-check {
    pointer-events: auto;
}

/*
    Button Toggle for Interactive Checkbox
*/
.interactive:has(.interactive-check input[type="checkbox"]:checked) .unchecked-button {
    display: none;
}
  
.interactive:not(:has(.interactive-check input[type="checkbox"]:checked)) .checked-button{
    display: none;
}

/*
    Speech Bubbles
*/
.speech-bubble {
    color: var(--md-typeset-a-color);
    margin: 0px 10px 0 0;
    border: 2px solid var(--md-typeset-a-color);
    border-radius: 2px;
    padding: 10px;
    text-align: center;
    position: relative;
    left: 1.25rem;
    font-weight: 700;
}

.speech-bubble-right:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 10px solid transparent;
    border-right: 10px solid var(--md-typeset-a-color);
    border-top: 10px solid var(--md-typeset-a-color);
    border-bottom: 10px solid transparent;
    left: -21px;
    top: 6px;
}

/*
    External Links
*/
li.md-tabs__item:has(.md-tabs__link.trello) {
    filter: var(--trello-filter-white);
}
li.md-tabs__item:has(.md-tabs__link.trello:hover) {
    filter: none;
    border-radius: 0.1rem;
    background-color: rgba(var(--trello), 0.8)
}
li.md-tabs__item:has(.md-tabs__link.discord) {
    filter: var(--discord-filter-white);
}
li.md-tabs__item:has(.md-tabs__link.discord:hover) {
    filter: none;
    border-radius: 0.1rem;
    background-color: rgba(var(--discord), 0.8)
}
li.md-tabs__item:has(.md-tabs__link.download) {
    filter: var(--download-filter-white);
}
li.md-tabs__item:has(.md-tabs__link.download:hover) {
    filter: none;
    border-radius: 0.1rem;
    background-color: rgba(var(--download-hover), 0.8)
}

/*
    More Subtle View Source/Edit Buttons
*/
.md-content__button.md-icon {
    opacity: 0.5;
}
.md-content__button.md-icon:hover {
    opacity: 1.0;
}

/* 
    Larger Admonitions
*/
.md-typeset .admonition,
.md-typeset .admonition-title {
    font-size: 0.7rem
}

.md-typeset .admonition.inline.inline-wide {
    width: 20rem;
}

/* 
    Custom Admonitions
*/
:root {
    --md-admonition-icon--faq: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M20 2H4c-1.1 0-2 .9-2 2v18l4-4h14c1.1 0 2-.9 2-2V4c0-1.1-.9-2-2-2m-7 12h-2v-2h2v2m1.8-5c-.3.4-.7.6-1.1.8-.3.2-.4.3-.5.5-.2.2-.2.4-.2.7h-2c0-.5.1-.8.3-1.1.2-.2.6-.5 1.1-.8.3-.1.5-.3.6-.5.1-.2.2-.5.2-.7 0-.3-.1-.5-.3-.7-.2-.2-.5-.3-.8-.3-.3 0-.5.1-.7.2-.2.1-.3.3-.3.6h-2c.1-.7.4-1.3.9-1.7.5-.4 1.2-.5 2.1-.5.9 0 1.7.2 2.2.6.5.4.8 1 .8 1.7.1.4 0 .8-.3 1.2Z"/></svg>');
    --md-admonition-icon--construction: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M2 3h20v10h-4v8h-2v-8H8v8H6v-8H2V3m16.97 8L20 9.97V7.15L16.15 11h2.82m-5.65 0 6-6H16.5l-6 6h2.82m-5.66 0 6-6h-2.83l-6 6h2.83M5.18 5 4 6.18V9l4-4H5.18Z"/></svg>');
    --md-admonition-icon--download: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M5 20h14v-2H5m14-9h-4V3H9v6H5l7 7 7-7Z"/></svg>')
}

/*
    FAQ Admonition
*/
.md-typeset .admonition.faq .admonition-title {
    font-size: 0.8rem;
    margin: -0.6rem -0.6rem 0 -0.6rem;
}
.md-typeset .admonition.faq,
.md-typeset details.faq {
    border-color: rgb(var(--faq));
    font-size: 0.8rem;
    padding: 0.6rem;
}
.md-typeset .faq > .admonition-title,
.md-typeset .faq > summary {
    background-color: rgba(var(--faq), 0.1);
}
.md-typeset .faq > .admonition-title::before,
.md-typeset .faq > summary::before {
    background-color: rgb(var(--faq));
    -webkit-mask-image: var(--md-admonition-icon--faq);
            mask-image: var(--md-admonition-icon--faq);
}
/* end FAQ Admonition */

/* 
    Construction Admonition
*/

.md-typeset .admonition.construction,
.md-typeset details.construction {
    border-color: rgb(var(--construction));
}
.md-typeset .construction > .admonition-title,
.md-typeset .construction > summary {
    background: repeating-linear-gradient(
        135deg,
        rgba(var(--construction), 0.18),
        rgba(var(--construction), 0.18) 15px,
        rgba(var(--construction), 0.07) 15px,
        rgba(var(--construction), 0.07) 30px
    );
}
.md-typeset .construction > .admonition-title::before,
.md-typeset .construction > summary::before {
    background-color: rgb(var(--construction));
    -webkit-mask-image: var(--md-admonition-icon--construction);
            mask-image: var(--md-admonition-icon--construction);
}
/* end Construction Admonition */


/*
    Download Admonition
*/
.md-typeset .admonition.download .admonition-title {
    font-size: 0.8rem;
}
.md-typeset .admonition.download,
.md-typeset details.download {
    border-color: rgb(var(--download));
    font-size: 0.8rem;
}
.md-typeset .download > .admonition-title,
.md-typeset .download > summary {
    background-color: rgba(var(--download), 0.25);
}
.md-typeset details.download summary {
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
    line-height: 1.4rem;
}
.md-typeset details.download summary::before,
.md-typeset details.download summary::after {
    top: 0.8rem;
}
.md-typeset .download > .admonition-title::before,
.md-typeset .download > summary::before {
    background-color: rgb(var(--download));
    -webkit-mask-image: var(--md-admonition-icon--download);
            mask-image: var(--md-admonition-icon--download);
}
/* end Download Admonition */


/*
    Download Button
*/
.md-button.md-button--download {
    background: rgb(var(--download));
    border-color: rgb(var(--download-lighter));
    color: white;
}

.md-button.md-button--download:hover {
    background: rgb(var(--download-hover));
    border-color: rgb(var(--download-hover));
    color: white;
}

/*
    Disabled Button
*/
.md-button.md-button--disabled {
    background: rgba(50, 50, 50, 0.1);
    border-color: #555;
    color: #555;
    pointer-events: none;
}


/*
    Game-Specific Content Tabs
*/
.md-typeset .tabbed-labels label[for^="planet-zoo"],
.md-typeset .tabbed-labels label[for^="planet-zoo"]:active {
    color: rgb(var(--pz)) !important;
    background: rgba(var(--pz), 0.2);
    border-bottom-color: rgba(var(--pz), 0.3);
}

.md-typeset .tabbed-labels label[for^="jurassic-world-evolution"],
.md-typeset .tabbed-labels label[for^="jurassic-world-evolution"]:active {
    color: rgb(var(--jwe)) !important;
    background: rgba(var(--jwe), 0.2);
    border-bottom-color: rgba(var(--jwe), 0.3);
}

.md-typeset .tabbed-labels label[for^="planet-coaster"],
.md-typeset .tabbed-labels label[for^="planet-coaster"]:active {
    color: rgb(var(--planco)) !important;
    background: rgba(var(--planco), 0.2);
    border-bottom-color: rgba(var(--planco), 0.3);
}

/*
    Blend tabbed indicator better with colored tabs
*/
.js .md-typeset .tabbed-labels:before {
    background: rgba(255, 255, 255, 0.5);
    mix-blend-mode: overlay;
}
